*.aux
*.bcf
*.fdb_latexmk
*.log
*.synctex.gz
*.synctex(busy)
*.run.xml
*.fls
*.bbl
*.blg
*.out
*.markdown.lua
*.luabridge.lua
*.toc
*.err
*.idx
*.ilg
*.ind
*.maf
*.mtc
*.mtc0
*.mtc0
*.lof
*.lot

svg-inkscape/
_markdown_report/

report.pdf

.vscode/