# LaTeX compilation files
*.bb*.aux
*.bcf
*.fdb_latexmk
*.log
*.synctex.gz
*.synctex(busy)
*.run.xml
*.fls
*.bbl
*.blg
*.out
*.markdown.lua
*.luabridge.lua
*.toc
*.err
*.idx
*.ilg
*.ind
*.maf
*.mtc
*.mtc0
*.mtc0
*.lof
*.lot
*.err
*.xmpi
*.lua
*.xdv
*.*-SAVE-ERROR
*.vrb
*.nav
*.snm

svg-inkscape/
_markdown_report/

# build folder
build/

# output file
report.pdf

# IDEs
.vscode/
